@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.Button{
    background: #FF5E59;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    /* x,y, blur, , color */
    box-shadow: 0 5px 15px 1px rgba(211, 47, 42, 0.4);
    outline: none;
    font-family: 'Roboto', sans-serif;

    transition: 1s ease;
}

.Button:hover{
    background: #ff8b87;
}